.login-page {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page div {
    display: flex;
    justify-content: center;
}

.login-page input {
    font-size: 16px;
    padding: 10px;
    width: 250px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-page input[type="submit"] {
    font-size: 16px;
    padding: 8px 15px; 
    width: auto; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-page input[type="submit"]:hover {
    background-color: #0056b3; 
}

